---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Chirag Dalmia Developer Portfolio">
  <header>
    <span>logo</span>
    <span>link-to-v1</span>
    <span></span>
  </header>
  <main class="container mx-auto px-4 py-8">
    <span>About</span>
    <span>works</span>
    <span>Blogs</span>
    <span>Graph</span>
    <span>Spline3d</span>
    <span>contact</span>
    <span>HighlightedWork</span>
  </main>
  <footer>
    <span>SocialLinks</span>
    <span>SomeRiveAnimation</span>
    <span>visits</span>
  </footer>
</Layout>
